<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron vertical-center">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-auto">
<h2>Upload File</h2>

<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successmessage}">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong th:text="${successmessage}"></strong>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errormessage}">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong th:text="${errormessage}"></strong>
</div>

<form action="" th:action="@{'/fileupload'}" th:object="${newFile}" method="post" enctype='multipart/form-data'>
	<div class="form-group">
		<label for="fileupload">Text or PDF</label>
		<input type="file" class="form-control-file" id="file" name="file" th:field="*{file}" multiple="multiple">
	</div>
	<div class="form-group">
	  <label for="fileupload">Select City</label>
	  <select class="form-control" id="population" name="city" th:field="*{city}">
	    <option th:value="'Miami-Dade County'">Miami-Dade County</option>
	    <option th:value="'City of Miami'">City of Miami</option>
	    <option th:value="'Miami Beach'" >Miami Beach</option>
	    <option th:value="'Miami Gardens'" >Miami Gardens</option>
	    <option th:value="'Coral Gables'" >Coral Gables</option>
	    <option th:value="'Hollywood'" >Hollywood</option>
	    <option th:value="'Fort Lauderdale'" >Fort Lauderdale</option>
	    <option th:value="'Pinecrest'">Pinecrest</option>
	    <option th:value="'Doral'">Doral</option>
	    <option th:value="'Hallandale Beach'">Hallandale Beach</option>
	  </select>
	</div>
	<button type="submit" class="btn btn-info">Upload</button>	
</form>
</div>
</div>
</div>    
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script> 	 
</body>
</html>